# Для работы с данными
pandas>=1.3.0
numpy>=1.21.0

# Для визуализации данных
matplotlib>=3.4.0
plotly>=5.0.0

# Для работы с сетевыми пакетами
scapy>=2.4.5

# Для отображения HTML в tkinter
tkhtmlview>=0.1.0